
*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.bg-image{
    background-image: url("/pics/FS4IYpkaAAAyD18.jpeg");
    background-size: auto;
    max-height: auto;
    max-width: auto;
    opacity: 0.7;
}

.register-image
{
    background-image: url("/pics/test-keqing.jpeg");
    background-size: auto;
    max-height: 720;
    max-width: auto;
    opacity: 0.7;
}

.about-image{
    background-image: url("/pics/test-keqing.jpeg");
}

.main-image{
    background-image: url();
}

